header(class="iedg-header "+ (typeMenu && typeMenu) +"")
    nav.iedg-navbar.js-iedg-navbar.is-active
        .container
            .iedg-header-navbar-content
                a.iedg-navbar-brand.d-lg-none(href="./index.html")
                    img.iedg-navbar-brand__transparent(src="./images/logo.png" alt="")
                    img.iedg-navbar-brand__color(src="./images/logo.png" alt="")
                    
                div.iedg-navbar-mobile
                    ul
                        li
                            a(href="#about-us")
                                <svg width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.918 4.03337C26.2583 3.38873 25.475 2.87736 24.6129 2.52847C23.7507 2.17958 22.8267 2 21.8934 2C20.9602 2 20.0361 2.17958 19.174 2.52847C18.3119 2.87736 17.5286 3.38873 16.8688 4.03337L15.4997 5.37059L14.1305 4.03337C12.7979 2.73186 10.9905 2.00067 9.10587 2.00067C7.22128 2.00067 5.41387 2.73186 4.08126 4.03337C2.74865 5.33488 2 7.1001 2 8.94072C2 10.7813 2.74865 12.5466 4.08126 13.8481L5.45043 15.1853L15.4997 25L25.5489 15.1853L26.918 13.8481C27.5781 13.2037 28.1017 12.4387 28.4589 11.5967C28.8161 10.7547 29 9.85216 29 8.94072C29 8.02928 28.8161 7.12677 28.4589 6.28475C28.1017 5.44273 27.5781 4.6777 26.918 4.03337V4.03337Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>


                        li
                            a(href="#learning-program") 
                                <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.05556 2H2V22.125C2 22.8875 2.30436 23.6188 2.84614 24.1579C3.38791 24.6971 4.12271 25 4.88889 25H25.1111C25.8773 25 26.6121 24.6971 27.1539 24.1579C27.6956 23.6188 28 22.8875 28 22.125V2H22.2222H15.7222H7.05556Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2 2H28" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21 8C21 9.32608 20.3679 10.5979 19.2426 11.5355C18.1174 12.4732 16.5913 13 15 13C13.4087 13 11.8826 12.4732 10.7574 11.5355C9.63214 10.5979 9 9.32608 9 8" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>


                        li
                            a(href="#testimonial") 
                                <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22 25V22.4444C22 21.0889 21.4699 19.7889 20.5264 18.8303C19.5828 17.8718 18.3031 17.3333 16.9688 17.3333H6.90625C5.57188 17.3333 4.29216 17.8718 3.34862 18.8303C2.40508 19.7889 1.875 21.0889 1.875 22.4444V25" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.9376 12.5417C14.8486 12.5417 17.2084 10.1818 17.2084 7.27083C17.2084 4.35983 14.8486 2 11.9376 2C9.02658 2 6.66675 4.35983 6.66675 7.27083C6.66675 10.1818 9.02658 12.5417 11.9376 12.5417Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                    

            .iedg-navbar-collapse
                .container
                    .iedg-navbar-wrap
                        a(href="./index.html" class="iedg-navbar-brand d-none d-lg-block")
                            img.iedg-navbar-brand__transparent(src="./images/logo.png" alt="")
                            img.iedg-navbar-brand__color(src="./images/logo.png" alt="")
                        
                        ul.iedg-navbar-nav
                            li.iedg-navbar-nav__item 
                                a(href="#about-us")
                                    <svg width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26.918 4.03337C26.2583 3.38873 25.475 2.87736 24.6129 2.52847C23.7507 2.17958 22.8267 2 21.8934 2C20.9602 2 20.0361 2.17958 19.174 2.52847C18.3119 2.87736 17.5286 3.38873 16.8688 4.03337L15.4997 5.37059L14.1305 4.03337C12.7979 2.73186 10.9905 2.00067 9.10587 2.00067C7.22128 2.00067 5.41387 2.73186 4.08126 4.03337C2.74865 5.33488 2 7.1001 2 8.94072C2 10.7813 2.74865 12.5466 4.08126 13.8481L5.45043 15.1853L15.4997 25L25.5489 15.1853L26.918 13.8481C27.5781 13.2037 28.1017 12.4387 28.4589 11.5967C28.8161 10.7547 29 9.85216 29 8.94072C29 8.02928 28.8161 7.12677 28.4589 6.28475C28.1017 5.44273 27.5781 4.6777 26.918 4.03337V4.03337Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>


                            li.iedg-navbar-nav__item 
                                a(href="#learning-program") 
                                    <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.05556 2H2V22.125C2 22.8875 2.30436 23.6188 2.84614 24.1579C3.38791 24.6971 4.12271 25 4.88889 25H25.1111C25.8773 25 26.6121 24.6971 27.1539 24.1579C27.6956 23.6188 28 22.8875 28 22.125V2H22.2222H15.7222H7.05556Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2 2H28" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M21 8C21 9.32608 20.3679 10.5979 19.2426 11.5355C18.1174 12.4732 16.5913 13 15 13C13.4087 13 11.8826 12.4732 10.7574 11.5355C9.63214 10.5979 9 9.32608 9 8" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>


                            li.iedg-navbar-nav__item 
                                a(href="#testimonial") 
                                    <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22 25V22.4444C22 21.0889 21.4699 19.7889 20.5264 18.8303C19.5828 17.8718 18.3031 17.3333 16.9688 17.3333H6.90625C5.57188 17.3333 4.29216 17.8718 3.34862 18.8303C2.40508 19.7889 1.875 21.0889 1.875 22.4444V25" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11.9376 12.5417C14.8486 12.5417 17.2084 10.1818 17.2084 7.27083C17.2084 4.35983 14.8486 2 11.9376 2C9.02658 2 6.66675 4.35983 6.66675 7.27083C6.66675 10.1818 9.02658 12.5417 11.9376 12.5417Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>