.peak-footer {
    background-color: rgba(16, 13, 34, 1);

    &__logo {
        filter: brightness(0) invert(1);
        display: flex;
        justify-content: center;
    }

    ul {
        @include reset-list;
    }

    a {
        color: $white;
    }
    

    &__widget {
        color: $white;

        .container {
            @include breakpoint-up(xl) {
                max-width: 1440px !important;
                padding: 0 50px !important;
            }
        }

        &--inner {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 0;
        }

        &-1 {
            @include breakpoint-up(md) {
                margin-top: 0;
                flex-basis: 50%;
            }

            @include breakpoint-up(lg) {
                flex-basis: 31%;

            }

            li {
                display: flex;
                gap: .5rem;
            }
        }

        &-2, &-3, &-4 {
            @include breakpoint-up(md) {
                margin-top: 3em;
                flex-basis: 50%;
            }

            @include breakpoint-up(lg) {
                flex-basis: 23%;
                margin-top: 0;
            }
        }

        
    }
}