footer.peak-footer 
    .container 
        .peak-footer__logo
            a(href="#")
                img(src="./images/logo-footer.png")
        .peak-footer__widget
            .container 
                .peak-footer__widget--inner
                    .peak-footer__widget-1
                        p.widget-title NHÀ PHÂN PHỐI ĐỘC QUYỀN
                        .textwidget
                            p 
                                strong CÔNG TY CP THỜI TRANG ALZADO
                            .contact-info-item
                                ul 
                                    li 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                            <g clip-path="url(#clip0_1356_20278)">
                                            <path d="M17.5015 20H2.50146V11.875H3.75146V18.75H16.2515V11.875H17.5015V20Z" fill="white"></path>
                                            <path d="M18.9194 11.6772L10.0001 2.16344L1.08068 11.6772L0.169434 10.8222L10.0001 0.335938L19.8307 10.8222L18.9194 11.6772Z" fill="white"></path>
                                            <path d="M12.5 17.5H11.25V13.125H8.75V17.5H7.5V11.875H12.5V17.5Z" fill="white"></path>
                                            <path d="M10.0015 10.625C8.62272 10.625 7.50146 9.50375 7.50146 8.125C7.50146 6.74625 8.62272 5.625 10.0015 5.625C11.3802 5.625 12.5015 6.74625 12.5015 8.125C12.5015 9.50375 11.3802 10.625 10.0015 10.625ZM10.0015 6.875C9.31209 6.875 8.75146 7.43562 8.75146 8.125C8.75146 8.81437 9.31209 9.375 10.0015 9.375C10.6908 9.375 11.2515 8.81437 11.2515 8.125C11.2515 7.43562 10.6902 6.875 10.0015 6.875Z" fill="white"></path>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_1356_20278">
                                            <rect width="20" height="20" fill="white"></rect>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                        span 210 Tôn Đức Thắng, Hàng Bột, Đống Đa, Hà Nội	
                                    li 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <g clip-path="url(#clip0_200_5544)">
                                        <path d="M13.0677 20.1596C10.117 20.1596 6.8258 18.7396 4.1558 16.0759C-0.112954 11.8184 -1.27045 5.89402 1.46392 2.2959L2.45892 3.05215C0.140796 6.10402 1.2733 11.4359 5.03892 15.1915C8.79705 18.9415 14.0627 20.004 17.0252 17.6096L17.8114 18.5821C16.4933 19.6465 14.842 20.1596 13.0677 20.1596Z" fill="white"></path>
                                        <path d="M18.9324 17.1184L14.208 12.379L13.3586 13.2309C12.4649 14.1284 11.2755 14.6234 10.0105 14.6234C8.74488 14.6234 7.55488 14.129 6.66113 13.2309C4.81551 11.3809 4.81551 8.36898 6.66113 6.51711L7.51301 5.66273L2.78613 0.919609L3.67113 0.0371094L9.27801 5.66211L7.54613 7.39898C6.18551 8.76398 6.18551 10.9834 7.54613 12.3477C8.20488 13.009 9.07988 13.3727 10.0105 13.3727C10.9405 13.3727 11.8161 13.0084 12.473 12.3484L14.208 10.6084L19.8174 16.2359L18.9324 17.1184Z" fill="white"></path>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_200_5544">
                                        <rect width="20" height="20" fill="white"></rect>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                        a(href="tel:0866550286") 086655 0286
                                    li 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                        <path d="M20 18.125H0V1.875H20V18.125ZM1.25 16.875H18.75V3.125H1.25V16.875Z" fill="white"></path>
                                        <path d="M5.71498 7.80371L6.78686 8.44684L3.03623 14.6962L1.96436 14.0531L5.71498 7.80371Z" fill="white"></path>
                                        <path d="M10.0001 10.6986L2.2207 6.80918L2.77945 5.69043L10.0001 9.30105L17.2207 5.69043L17.7795 6.80918L10.0001 10.6986Z" fill="white"></path>
                                        <path d="M14.2857 7.80371L18.0357 14.0537L16.9639 14.6968L13.2139 8.44684L14.2857 7.80371Z" fill="white"></path>
                                        </svg>
                                        a(href="mailto:contact@alzadosport.com") contact@alzadosport.com	
                    .peak-footer__widget-2
                        p.widget-title DANH MỤC NỔI BẬT
                        ul 
                            li 
                                a(href="#") Giới thiệu về PEAK Sport
                            li 
                                a(href="#") Giày bóng rổ
                            li 
                                a(href="#") Giày Chạy Bộ
                            li 
                                a(href="#") Phụ Kiện
                     
                    .peak-footer__widget-3
                        p.widget-title DANH MỤC NỔI BẬT
                        ul 
                            li 
                                a(href="#") Vận chuyển và giao hàng
                            li 
                                a(href="#") Chính sách bán hàng
                            li 
                                a(href="#") Chính Sách Đổi Trả &amp; Bảo Hành
                            li 
                                a(href="#") Chính sách bảo mật
                    .peak-footer__widget-4
                        p.widget-title CHÍNH SÁCH CÔNG TY
                        .textwidget
                            <a class="inline-block pe-3" href="http://bit.ly/PeakStore_Tiki" aria-label="tiki" target="_blank" rel="noopener">
                            <img loading="lazy" width="36" height="36" src="https://peaksport.vn/wp-content/themes/gp-peak/assets/img/tiki.png" alt="tiki">
                            </a>
                            <a class="inline-block pe-3" href="https://bit.ly/PEAKVN_SHOPEE" aria-label="shopee" target="_blank" rel="noopener">
                            <img loading="lazy" width="36" height="36" src="https://peaksport.vn/wp-content/themes/gp-peak/assets/img/shopee.png" alt="shopee">
                            </a>
                            <a class="inline-block pe-3" href="http://bit.ly/PEAK_LAZADA" aria-label="lazada" target="_blank" rel="noopener">
                            <img loading="lazy" width="36" height="36" src="https://peaksport.vn/wp-content/themes/gp-peak/assets/img/lazada.png" alt="lazada">
                            </a>
                            <a class="inline-block pe-3" href="https://www.youtube.com/@PEAKSportVietnam" aria-label="youtube" target="_blank" rel="noopener">
                            <img loading="lazy" width="36" height="36" src="https://peaksport.vn/wp-content/themes/gp-peak/assets/img/youtube.png" alt="youtube">
                                    </a>
                            <p><a href="/he-thong-cua-hang/">Hệ thống cửa hàng</a></p>
                            <p>Liên hệ PEAK SPORT</p>

        <img width="136" height="52" src="https://peaksport.vn/wp-content/uploads/2023/11/logo-1-1.png" class="image__img" alt="" data-srcset="https://peaksport.vn/wp-content/uploads/2023/11/logo-1-1.png 136w, https://peaksport.vn/wp-content/uploads/2023/11/logo-1-1-64x24.png 64w" sizes="(max-width: 136px) 100vw, 136px">		
        .copyright-bar Bản quyền © thuộc về Thời Trang Thể Thao Chính Hãng PEAK Sport. Website designed by Tada	